@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", sans-serif;
}
body {
  background: #333;
  padding-top: 5em;
  display: flex;
  justify-content: center;
}

.container > .title {
  color: #fff;
  font-family: monospace;
  font-size: 48px;
  text-align: center;
}

.container > .title::before {
  background-image: url("/images/icon.png");
  background-size: 40px 40px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 40px;
  height: 40px;
  content: "";
  margin-right: 20px;
}

.typewriter h1 {
  color: #fff;
  font-family: monospace;
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 20px auto;
  letter-spacing: 0.15em;
}

.typewriter h1 {
  animation: typing 3.5s steps(19, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: orange;
  }
  50% {
    border-color: transparent;
  }
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.column {
    background-color: white;
    width: 300px;
    height: 500px;
    border-radius: 15px;
  }

.head{
  width: auto;
  height: 35%;
  text-align: center;
  padding: 20px;
}

.head > .title{
    color: grey;
    text-align: center;
}

.head > .logo{
    width: 50%;
    height: 50%;
    border-radius: 15px;

}

form{
    text-align: center;
}
form > input{
    border: transparent;
    background-color: rgb(249, 249, 249);
    border-radius: 5px;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    width: 65%;
}

form > button{
    border: transparent;
    background-color: #f7a239;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    width: 75%;
    color: white;
}